@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not belong to any Flavors</p>
}
else
{
  <h4>Flavors the treat belongs to:</h4>
   <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Name</li>
    @using (Html.BeginForm("Delete Flavor", "Items"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>